 body {
    background-image: url("_imagens/fundo.jpg");
    color: black;
}

p {
    text-align: justify;
    text-indent: 50px;
}
figure.foto-legenda{
   position: relative;
    
    border: 8px solid rgb(255, 255, 255);
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
}
figure.foto-legenda img{
    width: 100%;
    height: 100%;
}
figure.foto-legenda figcaption{
    position: absolute;
    top: 0px;
}
