 body {
    background-image: url("_imagens/fundo.jpg");
    color: black;
}

p {
    text-align: justify;
    text-indent: 50px;
}
figure.foto-legenda{
   position: relative;
    
    border: 8px solid rgb(255, 255, 255);
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
}
figure.foto-legenda img{
    width: 100%;
    height: 100%;
}
figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0,.4);
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: 1s;
}
figure.foto-legenda:hover figcaption{
    opacity: 100%;
}
/* Formatacao do Menu*/
nav#menu{
    display: block;
}
nav#menu ul{
    list-style:nome;
    text-transform: uppercase;
    position: absolute;
    top: -0;
    left: 300px;

}
nav#menu li{
    display: inline-block;
    background-color: rgb(241, 215, 196);
    padding: 10px;
    margin: 2px;
}