 body {
    background-image: url("_imagens/fundo.jpg");
    color: black;
}

p {
    text-align: justify;
    text-indent: 50px;
}
figure.foto-legenda{
   position: relative;
    
    border: 8px solid rgb(255, 255, 255);
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
}
figure.foto-legenda img{
    width: 100%;
    height: 100%;
}
figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0,.4);
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: 1s;
}
figure.foto-legenda:hover figcaption{
    opacity: 100%;
}
